
<!--{% for c in cats %}-->
<!--	{% if c.filmreview__count > 0 %}-->
<!--	{% if c.pk == cat_selected %}-->
<!--		<li class="base_choose__selected">{{c.name}}</li>-->
<!--	{% else %}-->
<!--		<li><a href="{{ c.get_absolute_url }}">{{c.name}}</a></li>-->
<!--	{% endif %}-->
<!--	{% endif %}-->
<!--{% endfor %}-->

{% for c in cats %}
    {% if c.filmreview__count > 0 %}
    {% if c.pk == cat_selected %}
        <p class="base_choose_item base_choose__selected">{{c.name}}</p>
    {% else %}
        <a class="base_choose_item" href="{{ c.get_absolute_url }}">{{c.name}}</a>
    {% endif %}
    {% endif %}
{% endfor %}
