{% extends 'base.html' %}

{% block content %}
<div class="about_us__block">
    <h4 class="about_us__title">{{title}}</h4>
    <div class="about_us__content">
        <p class="about_us__text">
            The movie industry has grown a lot over the years and continues to expand at an incredible speed. Despite
            the advent of the global coronavirus pandemic, the industry as a whole still shows healthy growth
            projections for the coming years. There is no shortage of movies for you to review, and with more and more
            people turning to the internet for entertainment and news, now is a great time to start a movie blog. A
            movie blog will provide you with a platform to reach massive audiences online.
            <img class="about_us__img" src="../static/media/pen_book_icon.png" alt="pen_book_icon">It’s a great way to
            show others your point of view and share your thoughts on movies you care about. You will be able to create
            a community of friends and movie lovers who will flock to your blog for the latest industry news, movie
            review information, and more.
            <a target="_blank" class='about_us__text_href' href="https://onehourprofessor.com/how-to-start-a-movie-blog/">
                This guide</a> will provide you with a step-by-step process to build a successful and profitable movie
            blog so you can make money doing something you enjoy.</p>
    </div>
</div>
{% endblock %}
