{% extends 'base.html' %}

{% block content %}
    <div class="block_contact__main">
        <h4 class="block_contact__title">{{title}}</h4>
        <div class="block_contact__block">
            <a class="block_contact__info contact_block_one" href="https://www.instagram.com/">
                <div class="block_contact__info_items">
                    <img class="block_contact__icon" src="../static/media/inst_icon.png" alt="inst_icon">
                    <p>Instagram</p>
                </div>
            </a>
            <a class="block_contact__info contact_block_two" href="https://es-es.facebook.com/">
                <div class="block_contact__info_items">
                    <img class="block_contact__icon" src="../static/media/facebook_icon.png" alt="facebook_icon">
                    <p>Facebook</p>
                </div>
            </a>
        </div>
    </div>
{% endblock %}
